# eBay API Credentials
# Get your credentials from: https://developer.ebay.com/my/keys
# 
# For Sandbox (testing):
# EBAY_CLIENT_ID=your_sandbox_client_id_here
# EBAY_CLIENT_SECRET=your_sandbox_client_secret_here
#
# For Production:
# EBAY_CLIENT_ID=your_production_client_id_here
# EBAY_CLIENT_SECRET=your_production_client_secret_here

EBAY_CLIENT_ID=clinet_id_here
EBAY_CLIENT_SECRET=secret_id_here
GEMINI_API_KEY=your_gemini_key_here

# Amazon Scraper (Bright Data)
AMAZON_API_KEY=your_brightdata_key_here
AMAZON_API_ENDPOINT=your_brightdata_endpoint_url_here